* {
  box-sizing: border-box;
}
.element {
  padding: 20px 30px;
  background-color: #fff;
  position: absolute;
  transition: left .6s ease-in-out, top .6s ease-in-out, transform .6s ease-in-out;
  cursor: pointer;
  padding-bottom: 36px;
  padding-top: 20px;
  color: #a7a0a2;
  transform-style: preserve-3d;
}

.container {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  background-color: #cccccc;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 50px;
}

.nav-item {
  background-color: #e5e5e5;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 25px;
  cursor: pointer;
}

.nav-item-active {
  background-color: #999999;
  transform: scale(1.5, 1.5);
}

.inverse {
  transform: rotateY(180deg);
}

.center {
  z-index: 9999;
}

.front {
}

.back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: hidden;
}

.figure {
  position: relative;
}
